/* styles.css */

/* Estilos globais */
@font-face {
    font-family: 'Franie';
    src: url('/assets/fonts/FranieVariableTest-Black-BF64c31f3ca614b.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Franie', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
}

/* Estilos para os cards */
.card {
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 16px;
  padding: 16px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-radius: 8px;
  width: 100%;
}

.card-title {
  font-size: 1.2em;
  margin: 8px 0;
}

.card-description {
  color: #b3b3b3;
  font-size: 0.9em;
}

.album-cover {
    border-radius: 8px;
    width: 100%;
    margin-bottom: 8px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.search-field {
width: 50%; /* Ajuste o tamanho conforme necessário */
}

/* Estilos para os botões da barra de navegação */
mat-toolbar button {
  background-color: #ffffff;
  color: #1e1e1e;
  margin: 0 8px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

mat-toolbar button:hover {
  background-color: #1e1e1e;
  color: #ffffff;
}